<div>
  <div class="input-group">
    <h4 style="text-decoration: bold">{{serviceName}} service</h4>
    <div class="input-group-btn">
      <button class="btn btn-default pull-right" style="border: none" (click)="checkClusterHealth()" type="button">
          <i class="glyphicon glyphicon-repeat"></i>
      </button>
    </div>
  </div>
  <loading-label [show]="isLoading"></loading-label>
  <ul class="list-group list-group-flush" *ngIf="!isLoading">
      <li class="list-group-item">Examples Jobs run - {{getSuccessfullyRunJobsCount()}} of {{hdfsHealthReport?.jobResults.length}} successfully passed <span class="label label-success pull-right" *ngIf="isJobRunSuccessfully()">SUCCESS</span><span class="label label-danger pull-right" *ngIf="!isJobRunSuccessfully()" (click)="isCollapsed = !isCollapsed">{{getAlertsCount()}}</span>
        <ul class="list-group list-group-flush" style="margin-top: 2%" [collapse]="!isCollapsed">
            <li class="list-group-item" *ngFor="let alert of getAlerts()">Alert - {{alert}}</li>
        </ul>
      </li>
      <li class="list-group-item">Health summary - <span service-health-label [healthSummary]="hdfsHealthReport.healthSummary">{{hdfsHealthReport?.healthSummary}}</span></li>
      <li class="list-group-item">Logs locations - <span service-log-row log-dir="{{hdfsHealthReport?.logDirectory}}" log-host="{{hdfsHealthReport?.clusterNode}}"></span></li>
  </ul>
</div>
