<div style="margin-top: 2%">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'home.label.service.yarn.app.id' | translate }}</th>
                <th>{{ 'home.label.service.yarn.app.name' | translate }}</th>
                <th>{{ 'home.label.service.yarn.app.startTime' | translate }}</th>
                <th>{{ 'home.label.service.yarn.app.state' | translate }}</th>
                <th>{{ 'home.label.cluster.action' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let x of yarnApps">
                <td>{{x.applicationId}}</td>
                <td>{{x.name}}</td>
                <td>{{x.startTime | date: "MM/dd/yyyy hh:mm:ss"}}</td>
                <td class="bg-success" *ngIf="x.state=='SUCCEEDED'">{{x.state}}</td>
                <td class="bg-danger" *ngIf="x.state=='FAILED'">{{x.state}}</td>
                <td class="bg-info" *ngIf="x.state!='SUCCEEDED' && x.state!='FAILED'">{{x.state}}</td>
                <td><button type="button" class="btn btn-danger" [disabled]="x.state!='RUNNING'" (click)="killApp(x.applicationId)">{{ 'home.button.service.yarn.app.kill' | translate }}</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
