<div class="table-responsive" style="margin-top: 1%">
  <div class="input-group">
    <h4>Other services health summary</h4>
    <div class="input-group-btn">
      <button class="btn btn-default pull-right" style="border: none" (click)="checkClusterHealth()" type="button">
          <i class="glyphicon glyphicon-repeat"></i>
      </button>
    </div>
  </div>
  <loading-label [show]="isLoading"></loading-label>
  <table class="table table-hover" *ngIf="!isLoading">
      <thead class="thead-inverse">
      <tr>
          <th (click)="changeSort()">
            {{ 'home.label.cluster.service' | translate }}
            <i class="glyphicon glyphicon-chevron-up pull-right" *ngIf="isAscSort"></i>
            <i class="glyphicon glyphicon-chevron-down pull-right" *ngIf="!isAscSort"></i>
          </th>
          <th>{{ 'home.label.cluster.state' | translate }}</th>
          <th>{{ 'home.label.cluster.logs' | translate }}</th>
          <th>{{ 'home.label.cluster.action.name' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let x of serviceStatusList | serviceSortList : isAscSort">
          <td>{{x.displayName}}</td>
          <td service-table-row serviceState="{{x.healthSummary}}">{{x.healthSummary}}</td>
          <td service-table-row serviceState="{{x.healthSummary}}" *ngIf="isShowLogsLocationAllow(x.healthSummary)">
            {{x.logDirectory}} on {{x.clusterNode}}
          </td>
          <td *ngIf="isShowServiceActionAllow(x.displayName)" align="center">
              <button type="button" style="text-decoration: underline" class="btn btn-primary" (click)="restartService(x.displayName)">{{ 'home.button.cluster.restart' | translate }}</button>
          </td>
      </tr>
      </tbody>
  </table>
</div>
