<ul class="list-group list-group-flush">
    <li class="list-group-item" style="font-size: 15px">
      {{ 'home.label.cluster.disk' | translate }}(File system usage) - more used {{calcMoreUsedDisk()?.used}}% on host <span class="label label-success">{{calcMoreUsedDisk()?.host}}</span>
      <i class="glyphicon glyphicon-chevron-left pull-right" *ngIf="!isCollapsed" (click)="isCollapsed = !isCollapsed"></i>
      <i class="glyphicon glyphicon-chevron-down pull-right" *ngIf="isCollapsed" (click)="isCollapsed = !isCollapsed"></i>
      <ul class="list-group list-group-flush" style="margin-top: 2%" [collapse]="!isCollapsed">
          <li class="list-group-item" *ngFor="let node of nodes">Node: <span class="label label-primary">{{node?.node}}</span>  -  use {{node?.usedGb}} GB of {{node?.totalGb}} GB <span data-toggle="tooltip" data-placement="top" title="Not enough memory" class="badge badge-pill badge-danger pull-right">!</span></li>
      </ul>
    </li>
    <li class="list-group-item">{{ 'home.label.cluster.memory' | translate }} - {{memory?.used}} GB of {{memory?.total}} GB <span data-toggle="tooltip" data-placement="top" title="Not enough memory" class="badge badge-pill badge-danger pull-right">!</span></li>
    <li class="list-group-item">{{ 'home.label.service.hdfs.memory' | translate }} - {{hdfsUsage?.usedGb}} GB of {{hdfsUsage?.totalGb}} GB <span data-toggle="tooltip" data-placement="top" title="Not enough memory" class="badge badge-pill badge-danger pull-right">!</span></li>
    <li class="list-group-item" *ngIf="yarnAppsCount">{{ 'home.label.service.yarn.apps' | translate }} - {{yarnAppsCount}}</li>
</ul>
