<div class="container col-sm-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{ 'home.label.cluster.result' | translate }} - {{clusterName}}</h2>
            <common-cluster-health-summary [cluster]="clusterSnapshot" [yarnAppsCount]="yarnAppsCount"></common-cluster-health-summary>
        </div>
        <div class="panel-body">
          <tabset>
            <tab heading="{{ 'home.label.cluster.result' | translate }}">
              <hr/>
              <hdfs-cluster-health-summary [serviceName]="'HDFS'" [hdfsHealthReport]="hdfsHealthReport"></hdfs-cluster-health-summary>
              <hr/>
              <hdfs-cluster-health-summary [serviceName]="'YARN'"  [hdfsHealthReport]="yarnHealthReport"></hdfs-cluster-health-summary>
              <hr/>
              <service-list [clusterName]="clusterName" (onClusterSnapshotChange)="onClusterSnapshotChange($event)"></service-list>
            </tab>
            <tab heading="{{ 'home.label.service.yarn.app.list' | translate }}">
              <yarn-application-list (onYarnAppsChange)="onYarnAppsCountChange($event)"></yarn-application-list>
            </tab>
            <tab heading="{{ 'home.label.cluster.snapshots' | translate }}">
              <service-status-history></service-status-history>
            </tab>
          </tabset>
        </div>
    </div>
</div>
