<div class="table-responsive" style="margin-top: 1%">
    <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>{{ 'home.label.cluster.service' | translate }}</th>
            <th>{{ 'home.label.cluster.state' | translate }}</th>
            <th>{{ 'home.label.cluster.logs' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let x of clusterState?.serviceStatusList | serviceSortList">
            <td>{{x.displayName}}</td>
            <td service-table-row serviceState="{{x.healthSummary}}">{{x.healthSummary}}</td>
            <td service-table-row serviceState="{{x.healthSummary}}" *ngIf="isShowLogsLocationAllow(x.healthSummary)">
              {{ 'home.label.cluster.host' | translate }}: {{clusterState.cluster.host}}, {{ 'home.label.cluster.path' | translate }}: /yarn/containers-logs
            </td>
        </tr>
        </tbody>
    </table>
</div>
